/* Custom Properties */
:root {
  /* Colors */
  --primary-100: rgb(220, 232, 249);
  --primary-200: rgb(169, 203, 253);
  --primary-400: rgb(14, 102, 234);
  --page-bg: #f6f6f6;
  --black: #000;
  --white: #fff;
  --gray-200: #eaeaea;
  --gray-400: #00000073;
}

/* General Styles */
body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  background: var(--page-bg);
}

.container {
  min-width: 23.4375rem;
  max-width: 60rem;
  margin: 3rem auto;
  background: var(--white);
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

/* To Do List Styles */
.to-do-list-title {
  padding: 0.75rem;
  border: 1px solid var(--gray-200);
}

.add-to-do-form {
  width: 100%;
}

.new-to-do-item-input {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid var(--gray-200);
  border-right: 2px solid var(--gray-200);
  outline: none;
  padding: 1rem 0.75rem;
  width: 100%;
}

.new-to-do-item-input:focus {
  border: 2px solid var(--primary-200);
}

.to-do-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 1px solid var(--gray-200);
}

.to-do-item {
  display: flex;
  gap: 1rem;
  min-width: min-content;
  justify-content: space-between;
  padding: 0.75rem;
  border: 1px solid var(--gray-200);
}

.to-do-item__description {
  margin-right: auto;
  width: 100%;
  border: none;
  outline: none;
}

.to-do-item__description.completed {
  text-decoration: line-through;
  color: var(--gray-400);
}


.to-do-item__description:focus {
  border: none;
  outline: none;
}

.to-do-item.focused .to-do-item__description {
  background-color: var(--primary-100);
}

.to-do-item.focused {
  border: 1px solid var(--primary-200);
  background-color: var(--primary-100);
}

.to-do-item__delete-btn, .to-do-item__drag-btn {
  border: none;
  outline: none;
  background: none;
  transition: transform 250ms ease-in;
  cursor: pointer;
}

.to-do-item__delete-btn {
  visibility: hidden;
}

.to-do-item.focused .to-do-item__delete-btn {
  visibility: visible;
}

.to-do-item__delete-btn:hover, .to-do-item__drag-btn:hover {
  transform: scale(1.1);
}

.to-do-item__delete-btn:active, .to-do-item__drag-btn:active {
  transform: translateY(4px) scale(1.1);
}

.clear-completed-btn {
  height: 4rem;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid var(--gray-200);
  transition: background-color 300ms ease-in-out;
}

.clear-completed-btn:hover {
  background-color: var(--primary-400);
  color: var(--white);
  font-size: 1.25rem;
}

.clear-completed-btn:active {
  transform: translateY(3px);
}
